.quantity-customer {
    display: flex;
    justify-content: center;
    text-align: center;

    margin-left: 0;
}

#registration-of-the-number-of-people {
    margin-top: 10%;
}

#registration-of-the-number-of-people h3 {
    text-align: center;
}