.quantity-customer {
    display: flex;
    justify-content: center;
    text-align: center;

    margin-left: 0;
}

#registration-of-the-number-of-people{
    margin-top: 10%;
}

#registration-of-the-number-of-people h3 {
    text-align: center;
}

#select-table select {
    margin-top: 10%;
    width: 30%;
    margin-left: 35%;
}

#select-table h2 {
    text-align: center;
    color: black;
}

.background-color {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px;
    width: 80%;
    margin-left: 10%;
    height: 500px;
    
    border-radius: 30px;
    padding: 20px;
}

.tables {
    width: 120px;
    background: #adb5bd;
    height: 80px;
    border-radius: 15px;
    text-align: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tables:hover {
    background: #4ad66d;
    transform: scale(1.1);
}

.tables-1 {
    width: 120px;
    background: #ff4d6d;
    height: 80px;
    border-radius: 15px;
    text-align: center;
}

.number-table {
    padding-top: 27px;
}

@media screen and (max-width: 1880px) {
    .background-color {
        grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px 150px;
    }
}

@media screen and (max-width: 1600px) {
    .background-color {
        grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px;
    }
}

@media screen and (max-width: 1360px) {
    .background-color {
        grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
    }
}

@media screen and (max-width: 1380px) {
    .background-color {
        grid-template-columns: 150px 150px 150px 150px 150px 150px;
    }
}

@media screen and (max-width: 1070px) {
    .background-color {
        grid-template-columns: 150px 150px 150px 150px 150px;
        margin-left: 9%;
    }
}

@media screen and (max-width: 930px) {
    .background-color {
        grid-template-columns: 150px 150px 150px 150px;
        margin-left: 8%;
    }
}

@media screen and (max-width: 750px) {
    .background-color {
        grid-template-columns: 150px 150px 150px;
        margin-left: 7%;
    }
}

@media screen and (max-width: 510px) {
    .background-color {
        grid-template-columns: 150px 150px;
        margin-left: 16%;
    }
}

@media screen and (max-width: 430px) {
    .background-color {
        margin-left: 12%;
    }
}

@media screen and (max-width: 430px) {
    .background-color {
        margin-left: 9%;
    }
}

@media screen and (max-width: 375px) {
    .background-color {
        margin-left: 5%;
    }
}

@media screen and (max-width: 340px) {
    .background-color {
        margin-left: 2%;
    }
}

@media screen and (max-width: 320px) {
    .background-color {
        margin-left: -2%;
    }
}

@media screen and (max-width: 285px) {
    .background-color {
        margin-left: -10%;
    }
}