#customer-demand {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-items: center;
    margin-block-end: 6%;
    align-items: center;
}

#customer-demand h2 {
    color: black;
    font-size: 20px;
    font-weight: bolder;
} 

#customer-demand p {
    padding: 5px;
    color: black;
}

.demand-and-status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 40vw;
}

.order-status {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 60%;
    align-content: space-between;
    justify-content: center;
}

.order-status p {
    margin-top: 18px;
}

.form-select {
    width: 25%;
}

.order-item {
    margin-right: 10vw;
}

.order-value {
    margin-right: 3vw;
}

.total {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.total .total-and-values {
    margin-right: 10vw;
}

.order-value-total {
    margin-top: -25px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.hr {
    width: 50%;
}
