#demands {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr 0fr;
}

.demands-group {
    padding: 8px;
}

.demand {
    background: blue;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    width: 150px;
    border-radius: 20px;
}

.all-demands {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-items: center;
    margin-block-end: 6%;
    align-items: center;
}

