:root {
    --main-color: #FF686B;
    --main-font-family: Poppins;
    --main-color-canvas: #ced4da;
}

.welcome {
    position: absolute;
    background: var(--main-color);
    width: 100%;
    margin-top: 0%;
    left: 0;
}

form {
    align-items: center;
}