#products-selecteds {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 0fr 0fr;
    justify-content: center;
    margin-block-end: 90%;
}

#img-selected {
    width: 150px;
    padding: 10px;
    height: 165px;
    border-radius: 25px;
}

.product-selected {
    margin-left: 0;
    padding: 0;
}

.ordered {
    margin-top: 10px
}

#form-product-list {
    margin-block-end: 80%
}

.product-list {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-block-end: 80px;
}

.info-product-order {
    margin-top: 0px;
}

.delete {
    margin-left: 45px;
}

.products {
    padding: 6px;
}

.name-product-selected {
    font-weight: bold;
}

.close-order {
    margin-top: 0px;
}

@media screen and (max-width: 1200px) {
    #products-selecteds {
        grid-template-columns: 0fr;
    }

    #img-selected {
        width: 120px;
        height: 135px;
    }
}