#product-selected {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
}

#qtde-product {
    margin-left: 0;
}

#product {
    font-size: 25px;
    margin-left: 0;
    color: black;
}

#product-img-selected {
    margin-top: 5%;
    margin-left: 0;
    width: 90%;
    height: 50vw;
    border-radius: 20px;
}

.name-product {
    padding-top: 10px;
    font-size: 20px;
    margin-left: 0;
    color: black;
}

#product-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-end: 6%;
}

#ingredient, #description {
    color: black;
}

.descriptions {
    padding-top: 50px;
    text-align: initial;
    width: 85%;
}

.info-product {
    margin-top: -10px;
    display: flex;
    align-items: center;
}

.value-product {
    display: flex;
    align-items: center;
}

.sobre {
    font-size: 25px;
    margin-left: 0;
    color: black;
}

#product-item a {
    width: 100%;
}

#note-customer {
    height: 150px;
}

.note-customer-label {
    margin-left: 0;
}