
#product-img {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr 0fr;
} 

#img {
    width: 180px;
    padding: 10px;
    height: 180px;
    border-radius: 25px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#img:hover {
    transform: scale(1.1);
}

#product-name {
    margin-left: 0;
}

#products-confirmed {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu, .menu-1, .menu-2 {
    margin-left: 3%;
    margin-right: auto;
    color: black;
}

.menu {
    font-weight: 500;
}

.menu-1 {
    font-size: 30px;
    font-weight: lighter;
}

.menu-2 {
    font-size: 25px;
    font-weight: lighter;
}

.my-products {
    margin-top: 15px;
    font-size: 15px;
}

@media screen and (max-width: 1030px) {
    #product-img {
        grid-template-columns: 0fr 0fr 0fr;
    }
}

@media screen and (max-width: 600px) {
    #product-img {
        grid-template-columns: 0fr 0fr;
    }
}

@media screen and (max-width: 390px) {
    #product-img {
        grid-template-columns: 0fr;
    }
}