p {
    font-family: 'Poppins', sans-serif;
}

.row>* {
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-items: center;
    margin-block-end: 6%;
}

form h6 {
    margin-top: 3%;
}

.form-control {
    width: 80%;
    height: 69px;
    border-radius: 30px;
}

label {
    padding: 10px;
}

.form-group {
    width: 100%;
}

label, input, .next, #register-establishment {
    margin-left: 10%;
}

.btn-outline-danger {
    margin-top: 3vh;
    width: 80%;
    height: 50px;

    color: var(--main-color);
    border-color: var(--main-color);
    border-radius: 30px;
}

.btn-outline-danger:hover {
    background-color: var(--main-color);
}

.content-menu-register {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--main-color);
}

.content-in-text {
    margin-top: 1vh;
    margin-block-end: 3%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-in-text h1, h2, p {
    position: relative;

    font-family: var(--main-font-family);
    color: #FFFFFF;
}

.content-in-text h1 {
    font-weight: bolder;
}

.content-in-text h2 {
    font-weight: 300;
}

.content-in-text p {
    text-align: center;
}

.btn-login {
    margin-top: 1vh;
    position: relative;
    width: 200px;
    height: 40px;

    color: white;
    border-color: white;
}

hr {
    margin-block-end: 4%;
}

.responsible {
    text-align: center;
    margin-block-end: 4%;
}
