.all-tables {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr 0fr;
    margin-block-end: 55%;
}

.tables-form-group {
    padding: 8px;
}

.table-animation {
    display: inline-block;
    margin-top: -100px;
    width: 160px;
    height: 70px;
}

.all-tables .button-delete {
    width: 80px;
    height: 30px;
    font-size: 12px;
}

.tables-form-group .button-delete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 18.5px;
}

.tables-establishment {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-items: center;
    margin-block-end: 6%;
    align-items: center;
}

.c-2 {
    height: 100px !important;
}

.register-tables-establishment {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    justify-items: center;
    margin-block-end: 6%;
    align-items: center;
}

.register-tables-establishment .h2-tables-establishment {
    font-size: 20px;
    color: black;
}

.label-tables-establishment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.l1 {
    margin-left: 0;
}

#number-seats-establishment {
    color: black;
}

.status-tables-1, .status-tables-2 {
    margin-left: 59%;
    width: 80%;
}

.status-tables-1 {
    margin-top: 10px;
}

.status-tables-2 {
    margin-top: 10px;
}

.qtde-chairs {
    margin-top: -10px !important;
}

@media screen and (max-width: 720px) {
    .all-tables {
        grid-template-columns: 0fr 0fr 0fr 0fr;
    }
}

@media screen and (max-width: 572px) {
    .all-tables {
        grid-template-columns: 0fr 0fr 0fr;
    }
}

@media screen and (max-width: 434px) {
    .all-tables {
        grid-template-columns: 0fr 0fr;
    }
}

@media screen and (max-width: 274px) {
    .all-tables {
        grid-template-columns: 0fr;
    }
}