.all-tables {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr 0fr;
    margin-block-end: 55%;
}

.tables-form-group {
    padding: 8px;
}

.table-animation {
    display: inline-block;
    margin-top: -60px;
    width: 160px;
    height: 70px;
}

@media screen and (max-width: 720px) {
    .all-tables {
        grid-template-columns: 0fr 0fr 0fr 0fr;
    }
}

@media screen and (max-width: 572px) {
    .all-tables {
        grid-template-columns: 0fr 0fr 0fr;
    }
}

@media screen and (max-width: 434px) {
    .all-tables {
        grid-template-columns: 0fr 0fr;
    }
}

@media screen and (max-width: 274px) {
    .all-tables {
        grid-template-columns: 0fr;
    }
}