body {
    font-family: 'Poppins', sans-serif;
}

.title {
    margin-top: 0%;
    margin-left: 38%;
}

#continue {
    position: relative;
    width: 10vw;
    height: 7vh;
    color: white;
    background: #FF686B;
    border-radius: 20px;
    margin-top: 6%;
    margin-left: 45.6%;
}

#content {
    justify-content: center;
    margin-top: 10%;
    position: relative;
    text-align: center;
}

#amountOfPeople {
    position: absolute;
    width: 20%;
    height: 64px;
    left: 40%;

    background: #F6F6F6;
    border-radius: 20px;
}