p {
    font-family: 'Poppins', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 45vh;
    justify-items: center;
}

.form-control {
    width: 80%;
    height: 69px;
    border-radius: 30px;
}

label {
    padding: 10px;
}

.form-group {
    width: 100%;
}

label, input {
    margin-left: 10%;
}

.btn-outline-danger {
    margin-top: 3vh;
    width: 80%;
    height: 50px;

    color: var(--main-color);
    border-color: var(--main-color);
    border-radius: 30px;
}

.btn-outline-danger:hover {
    background-color: var(--main-color);
}

.content-menu-register {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-menu-register h1, p {
    position: relative;

    font-family: var(--main-font-family);
    color: #FFFFFF;
}

/* .apagar {
    position: absolute;
    width: 666px;
    height: 100%;
    left: -125px;
    top: 0px;

    background: #2DB3FF;
}

.titulo {
    position: absolute;
    width: 295px;
    height: 60px;
    left: 200px;
    top: 40px;

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;

    color: #FFFFFF;
}

.titulo2 {
    position: absolute;
    width: 352px;
    height: 38px;
    left: 200px;
    top: 98px;

    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;

    color: #FFFFFF;
}

.sobretitulo {
    position: absolute;
    width: 336px;
    height: 46px;
    left: 200px;
    top: 145px;

    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;

    color: #FFFFFF;
}

.sobretitulo2 {
    position: absolute;
    width: 349px;
    height: 90px;
    left: 200px;
    top: 259px;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
}

.sobretitulo3 {
    position: absolute;
    width: 354px;
    height: 60px;
    left: 200px;
    top: 60%;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
}

#sign-up {
    position: absolute;
    width: 680px;
    height: 69px;
    left: 614px;
    top: 604px;
    color: white;
    background: #2DB3FF;
    border-radius: 20px;
}

#login {
    position: absolute;
    width: 219px;
    height: 52px;
    left: 280px;
    top: 80%;
    background-color: #2DB3FF;
    border: 3px solid #FFFFFF;
    border-radius: 120px;
    color: white;
} */