p {
    font-family: 'Poppins', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 9vh;
    justify-items: center;
}

.form-control {
    width: 80%;
    height: 69px;
    border-radius: 30px;
}

label {
    padding: 10px;
}

.form-group {
    width: 100%;
}

label, input {
    margin-left: 10%;
}

.btn-outline-danger {
    margin-top: 3vh;
    width: 80%;
    height: 50px;

    color: var(--main-color);
    border-color: var(--main-color);
    border-radius: 30px;
}

.btn-outline-danger:hover {
    background-color: var(--main-color);
}

.content-menu-register {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-menu-register h1, h2, p {
    position: relative;

    font-family: var(--main-font-family);
    color: #FFFFFF;
}

.content-menu-register h1 {
    font-weight: bolder;
}

.content-menu-register h2 {
    font-weight: 300;
}

.content-menu-register p {
    text-align: center;
}

.btn-login {
    margin-top: 1vh;
    position: relative;
    width: 200px;
    height: 40px;

    color: white;
    border-color: white;
}